version: 0.1
log:
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: inmemory
  s3:
    accesskey: ${REGISTRY_S3_ACCESS_KEY}
    secretkey: ${REGISTRY_S3_ACCESS_SECRET}
    region: ${REGISTRY_S3_REGION}
    regionendpoint: ${REGISTRY_S3_ENDPOINT}
    bucket: ${REGISTRY_S3_BUCKET}
    encrypt: false
    secure: false
http:
  addr: :5000
  headers:
    X-Content-Type-Options: [nosniff]
auth:
  htpasswd:
    realm: basic-realm
    path: /etc/registry/.htpasswd
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
