appname = casdoor
httpport = 8087
runmode = prod
copyrequestbody = true
driverName = postgres
dataSourceName = "user=${POSTGRES_CASDOOR_USER} password=${POSTGRES_CASDOOR_PASS} host=${POSTGRES_HOST} port=${POSTGRES_PORT} sslmode=disable dbname=${POSTGRES_CASDOOR_DB}"
dbName =
tableNamePrefix =
showSql = false
redisEndpoint =
defaultStorageProvider =
isCloudIntranet = false
authState = "casdoor"
socks5Proxy = "127.0.0.1:10808"
verificationCodeTimeout = 10
initScore = 0
logPostOnly = true
origin =
originFrontend =
staticBaseUrl = "https://cdn.casbin.org"
isDemoMode = false
batchSize = 100
enableGzip = true
ldapServerPort = 389
radiusServerPort = 1812
radiusSecret = "secret"
quota = {"organization": -1, "user": -1, "application": -1, "provider": -1}
logConfig = {"filename": "logs/casdoor.log", "maxdays":99999, "perm":"0770"}
initDataFile = "./conf/init_data.json"
initDataNewOnly = true
frontendBaseDir = "../casdoor"
inactiveTimeoutMinutes = 30
